---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | KokoDevs" description="About KokoDevs">
	<div class="stack gap-20">
		<main class="wrapper about" style="display:flex;">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<figure>
					<img
					width="200px"
					src="/assets/logowithbackground.png"
					alt="No background logo"
					style="margin: auto; margin-top: 1.5rem;"
				/>
				<figcaption></figcaption>
				</figure>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						When i was 10, i started coding in roblox which uses the language "Lua", that's what got me in the coding,
						Later that year i started playing minecraft and even started a youtube channel about it, and that's when i started
						coding in java which by the way i still code in java till this day.
					</p>
					<p>
						School started teaching python, i already had a big Java background so python was very easy for me, in that year i started
						playing around with websites, which got me into JavaScript, i would say im a backend developer because i'm not good at designing lol.
					</p>
					<p>
						After playing around with unity i also started game development with C#, which was a pretty easy to get into because C#
						is almost a clone of java(very simmilar languages.).
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Im in highschool, but i learn code by myself.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Developer in the following languages: Java, C#, JavaScript, Lua, Python</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
