---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Software Developer</h2>
		<p>As a software developer, I'm mainly working on <span style="color: rgb(250, 80, 80)">Java</span> related stuff, I love to create Minecraft Mods & Plugins.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="youtube-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Content Creator</h2>
		<p>I'm uploading coding related videos to my YouTube Channel. My main reason is to help others learn what Iv'e learned.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Engineer Hobbyist</h2>
		<p>As a engineer hobbyist, I love building small gadgets like custom game controllers using micro controllers or raspberry pi.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
